<div class="small-container center-block">
  <h1>New category</h1>

  <%= render "form", category: @category %>

  <br>

  <div class="actions">
    <%= link_to "Back to categories", categories_path , class:"btn btn-primary"%>
  </div>
</div>

